.skillsection{
    height: 150vh;
    width: 100%;
}

.skillsec{
    display: none;
    grid-template-columns: auto auto;
}

.skillsec.skillshow{
    display: grid;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    grid-gap: 1em;
    padding-top: 1em;
}

.skill{
    clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
    background-color: var(--vl-color);
    height: 250px;
    width: 250px;
    transition: 1s;
}

.skill:hover{
    /* clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%); */
    background-color: var(--wh-color);
    box-shadow: inset 0 0 6px var(--vl-color),  0 0 6px var(--vl-color);
    transition: 1s;
    opacity: 1.0;
}

.skill:not(:hover){
    opacity: .7;
}

/* button skill */
#opcskill{
    margin: auto;
    display: grid;
    align-content: center;
    justify-content: space-around;
    justify-items: stretch;
    grid-gap: 0.4em;
}
.skillopt {
    border: 2px solid var(--blu-color);
    background-color: rgba(70, 70, 70, 0.25);
    box-shadow: none;
    color: var(--blu-color);
    text-shadow: 0 0 0px transparent;
    font-size: 16px;
    transition: .2s;
    -webkit-transition: .2s;
    padding: 15px 30px;
    line-height: 40px;
    margin: 0;
    border-radius: 0;
    cursor: pointer;
    width: 300px;
}
.skillopt:hover {
   border: 2px solid var(--first-color);
   color: var(--first-color);
   text-shadow: 0 0 4px var(--first-color);
   box-shadow: inset 0 0 6px var(--first-color),  0 0 6px var(--first-color);
}

.skillopt.active{
    border: 2px solid var(--first-color);
    background-color: var(--first-color);
    text-shadow: 0 0 16px var(--blu-color);
    box-shadow: inset 0 0 6px var(--blu-color),  0 0 6px var(--blu-color);
    color: var(--wh-color);
}

/* svg img */

.imgskill{
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    margin: auto;
}